

body {
  font-family: Arial;
  padding: 20px;
  background: #f1f1f1;
  max-width: 1200px;
  margin-left:auto;
  margin-right:auto;
}

header {
  padding: 10px;
  display: flex;
  align-items: baseline;
  background: white;
  max-width: 1200px;
  justify-content: space-between;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

.menu-toggle {
  display: inline-block;
  padding: .75em 15px;
  line-height: 1em;
  font-size: 1em;
  color: #333;
}

.menu-toggle:hover,
.menu-toggle:focus {
  color: #c00;
}

.header-rihgt-content
{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 120px;
  margin-right: 10px;
}

.icons{
  align-self: flex-start;
  justify-self: right;
  margin-left: auto;
}
.logo {
  margin: 60px 30px 10px 10px;
  width: 100px;
  height: auto;
  align-self: center;
}
  
.fa {
  padding: 15px 10px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
  background: orange;
}

.fa:hover {
  opacity: 0.7;
}

.fa.fa-facebook {
  color: #3B5998;
}
.fa.fa-linkedin {
  color: #007bb5;
}
.fa.fa-instagram {
  color: #125688;
}

.fa.fa-pinterest {
  color: #cb2027;
}
.fa.fa-search{
    margin-right: 10px;
}
.fa.fa-bars,
.fa.fa-close
{
  background: none;
}

.icons a{
  display: none;

}

.main-menu {
  position: absolute;
  display: none;
  align-self: flex-end;
  margin-left: auto;
  left: -200px;
  top: 0;
  height: 100%;
	transition: left 0.3s ease,
				      box-shadow 0.3s ease;
	z-index: 999;
}

.main-menu ul {
  overflow: hidden;
  list-style: none;
  margin: 0;
  padding: 2.5em 0 0;
  -webkit-box-shadow: -8px 0 8px rgba(0,0,0,.5);
     -moz-box-shadow: -8px 0 8px rgba(0,0,0,.5);
          box-shadow: -8px 0 8px rgba(0,0,0,.5);
  min-height: 100%;
  width: 200px;
  background: #1a1a1a;
}

.main-menu a {
  display: block;
  padding: .75em 15px;
  line-height: 1em;
  font-size: 1em;
  color: #fff;
  text-decoration: none;
  border-bottom: 1px solid #383838;
}

.main-menu li:first-child a {
  border-top: 1px solid #383838;
}

.main-menu a:hover,
.main-menu a:focus {
  background: #333;
  text-decoration: underline;
}

.main-menu .menu-close {
  position: absolute;
  right: 0;
  top: 0;
}

.main-menu:target,
.main-menu[aria-expanded="true"] {
  display: block;
  left: 0;
  outline: none;
  -moz-box-shadow: 3px 0 12px rgba(0,0,0,.25);
  -webkit-box-shadow: 3px 0 12px rgba(0,0,0,.25);
  box-shadow: 3px 0 12px rgba(0,0,0,.25);
}

.main-menu:target .menu-close,
.main-menu[aria-expanded="true"] .menu-close {
  z-index: 1001;
}

.main-menu:target ul,
.main-menu[aria-expanded="true"] ul {
  position: relative;
  z-index: 1000;
}

.main-menu:target + .backdrop,
.main-menu[aria-expanded="true"] + .backdrop{
  position: absolute;
  display: block;  
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 998;
  background: #000;
  background: rgba(0,0,0,.85);
  cursor: default;
}
main{
  /* height: 1000px; */
  background-color: white;
}
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  grid-gap: 20px;
  align-items: stretch;
}

.grid > article {
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
}

.grid > article img {
  max-width: 100%;
}

.img-wrapper {
  display: inline-block;
  overflow: hidden;
}

.img-wrapper img {
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  
  vertical-align: middle;
}
article:hover .img-wrapper img{
  -webkit-transform:scale(1.5);
  -moz-transform:scale(1.5);
  -ms-transform:scale(1.5);
  -o-transform:scale(1.5);
  transform:scale(1.5); 
}

.grid .text {
  padding: 20px;
}
 
article .text h3{
  color: orange;
  font-weight: bold;
}

article .text p{
  margin-bottom: 10px;
  margin-top:  10px;
}

article .text a{
  color: orange;
  font-size: 10;
  font-weight: bold;
}
.grid .text .info-wrapper{
  position: relative;
  bottom: 0;
}
.grid .text .info-wrapper span{
  display: block;
  margin-top: 10px;
}
.grid .text .info-wrapper span .fa{
  background: none;
  padding: 0;
  margin-left: -8px;
}

@supports (position: fixed) {
  .main-menu,
  .main-menu:target + .backdrop,
  .main-menu[aria-expanded="true"] + .backdrop{
    position: fixed;
  }
}

@media (min-width: 768px) {
  .menu-toggle,
  .main-menu .menu-close {
    display: none;
  }
  
  .main-menu {
    position: relative;
		left: auto;
		top: auto;
		height: auto;
    display: block;
  }
  
  .main-menu ul {
    display: flex;
    padding: 0;
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
    height: auto;
    width: auto;
    background: none;
    overflow: hidden;
  }
  
  .main-menu a {
    color: #333;
    font-size: 10;
    font-weight: bold;
    border: 0 !important;
  }
  
  .main-menu a:hover,
  .main-menu a:focus {
    background: none;
    color: #c00;
  }

  .fa.fa-search{
    margin-right: 50px;
  }
  .icons a{
    display: inline-block;
  }
  .logo {
    margin-top: 10px;
  }
}


